
<html>
<head>
    <meta charset="utf-8">
    <title>ExamineVenueRegister</title>
    <link rel="stylesheet" type="text/css" href="../../stylesheet/common.css">
</head>
<body>
<div class="common">
    <div class="main minMain bigMain">
        <div id="aSign" class="title">
            <a href="MgrStatistics">数据统计</a>
            <b>·</b>
            <a href="MgrSettleUserOd">订单结算</a>
            <b>·</b>
            <a href="MgrSetVIPDiscount">VIP 优惠</a>
            <b>·</b>
            <a class="active">审批注册</a>
            <b>·</b>
            <a href="MgrExamineVenueInfoChange">审批修改信息</a>
            <b>·</b>
            <a href="MgrInfo">个人信息</a>
        </div>

        <div id="div_VenueRegister">

        </div>
    </div>
</div>
<script src="../../javascript/jquery/jquery-3.2.1.min.js"></script>
<script>
    $(function () {
        $.post("GetAllUnconfirmedVenues", function (rs) {
            var res = $.parseJSON(rs);
            $("#div_VenueRegister").empty();
            $.each(res, function (index, value, array) {
                var infoDiv = "<div id='venue_" + value.venueID + "_info_div'>" +
                    "<p><label>帐号 : </label><input type='text' value='" + value.venueID + "' readonly /></p>" +
                    "<p><label>省市 : </label><input type='text' value='" + value.province + value.city + "' readonly /></p>" +
                    "<p><label>地址 : </label><input type='text' value='" + value.address + "' readonly /></p>" +
                    "<p><label>电话 : </label><input type='tel' value='" + value.telephone + "' readonly /></p>" +
                    "<p>" +
                        "<button id='btn_" + value.venueID + "_agree' onclick='agreeVenueRegister(this)'>同意</button>" +
                        "<button id='btn_" + value.venueID + "_disagree' onclick='disagreeVenueRegister()'>不同意</button>" +
                    "</p>" +
                    "<hr style='height:1px;border:none;border-top:1px dashed #0066CC;' />" +
                    "</div>";
                    $("#div_VenueRegister").append(infoDiv);
            });
        });
    });

    function agreeVenueRegister(obj) {
        var temp1 = $(obj).attr("id");
        var temp2 = temp1.split("_");
        var venueID = temp2[1];
        var data = {"venueID":venueID};
        $.post("AgreeWithVenueRegister", data, function (rs) {
            var res = $.parseJSON(rs);
            if( res.result ){
                $("#venue_" + venueID + "_info_div").remove();
            }
            else {
                alert(rs.message);
            }
        });
    }

    function disagreeVenueRegister() {
        alert("暂未提供此功能！");
    }
</script>
</body>
</html>
