
<html>
<head>
    <meta charset="UTF-8">
    <title>UserCoupon</title>
    <link rel="stylesheet" type="text/css" href="../../stylesheet/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheet/bootstrap/bootstrap-theme.min.css">

    <link rel="stylesheet" type="text/css" href="../../stylesheet/common.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheet/bootstrap/my-bootstrap.css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Tickets</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="UserBuyTicket">订票</a></li>
                <li><a href="UserOrder">订单查看</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden">
                <li><a href="#"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden-xs active"><a href="#">个人信息</a></li>
                <li class="visible-xs"><a href="UserInfo">基本信息</a></li>
                <li class="visible-xs active"><a href="#">优惠券</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- 伪 navbar -->
<nav class="navbar navbar-default" role="navigation" style="visibility: hidden">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Tickets</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="UserBuyTicket">订票</a></li>
                <li><a href="UserOrder">订单查看</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden">
                <li><a href="#"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden-xs active"><a href="#">个人信息</a></li>
                <li class="visible-xs"><a href="UserInfo">基本信息</a></li>
                <li class="visible-xs active"><a href="#">优惠券</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid center-block" id="div-couponOwnList">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-2 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 hidden-xs" style="position: fixed">
            <div class="list-group list-group">
                <a class="list-group-item" href="UserInfo">
                    <div class="input-group">
                        <span class="glyphicon glyphicon-user"></span>
                        &nbsp;&nbsp;基本信息
                    </div>
                </a>
                <a class="list-group-item active" href="#">
                    <span class="glyphicon glyphicon-credit-card"></span>
                    &nbsp;&nbsp;优惠券
                </a>
            </div>
        </div>

        <div class="col-lg-5 col-lg-offset-5 col-md-6 col-md-offset-5 col-sm-7 col-sm-offset-4 col-xs-12">
            <div id="div-userCouponList">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <button class="btn btn-info" onclick="getAllExchangedCouponAndShow()">兑换优惠券</button>
                    </div>
                </div>

                <br>

                <table class="table table-bordered table-striped">
                    <caption>优惠券</caption>
                    <thead></thead>
                    <tbody id="tbody-userCouponList">
                    <tr>
                        <th>ID</th>
                        <th>名称</th>
                        <th>优惠金额</th>
                        <th>数量</th>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="div-exchangedCouponList" style="display: none">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <button class="btn btn-default" onclick="exchangedCouponList_to_userCouponList()">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                        </button>
                    </div>
                </div>

                <br>

                <table class="table table-bordered table-hover">
                    <caption>可兑换优惠券</caption>
                    <thead></thead>
                    <tbody id="tbody-exchangedCouponList">
                    <tr>
                        <th>ID</th>
                        <th>名称</th>
                        <th>优惠金额</th>
                        <th>所需积分</th>
                        <th></th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-info" tabindex="-1" role="dialog" aria-labelledby="label-message" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p id="p-info-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script src="../../javascript/jquery/jquery-3.2.1.min.js"></script>
<script src="../../javascript/bootstrap/bootstrap.min.js"></script>
<script src="../../javascript/bootstrap/my-bootstrap.js"></script>
<script>
    $(function () {
        getAllUserCouponAndShow();

        emptyModelMessage( $("#modal-info"), $("#p-info-body") );
    });
</script>
<script>
    var hasExchangedCoupon = false;

    function getAllUserCouponAndShow() {
        $("#tbody-userCouponList").children("tr.tr-extend").remove();

        $.post("GetUserAllCoupons", function (rs) {
            var res = $.parseJSON(rs);
            if( res.length>0 ){
                $.each(res, function (index, value, array) {
                    var infoDiv = "<tr class='tr-extend'>" +
                        "<td>" + value.couponID + "</td>" +
                        "<td>" + value.name + "</td>" +
                        "<td>" + value.discount + "</td>" +
                        "<td>" + value.number + "</td>" +
                        "</tr>";
                    $("#tbody-userCouponList").append(infoDiv);
                });
            }
            else {
                $("#p-info-body").text("还未拥有优惠券！");
                $("#modal-info").modal("show");
            }
        });
    }

    function getAllExchangedCouponAndShow() {
        $("#tbody-exchangedCouponList").children("tr.tr-extend").remove();

        $.post("GetAllExchangedCouponInfos", function (rs) {
            var res = $.parseJSON(rs);
            if( res.length>0 ){
                $.each(res, function (index, value, array) {
                    var infoDiv = "<tr class='tr-extend' id='tr-couponExchanged-" + value.couponID + "'>" +
                        "<td>" + value.couponID + "</td>" +
                        "<td>" + value.name + "</td>" +
                        "<td>" + value.discount + "</td>" +
                        "<td>" + value.point + "</td>" +
                        "<td style='text-align: center; width: 20%'>" +
                            "<button class='btn btn-info' id='btn-exchangeCoupon-" + value.couponID + "' onclick='exchangeCoupon(this)'" +
                                "data-loading-text='...' data-complete-text='兑换'>兑换</button>" +
                        "</td>" +
                        "</tr>";
                    $("#tbody-exchangedCouponList").append(infoDiv);
                });

                $("#div-userCouponList").hide();
                $("#div-exchangedCouponList").show();
            }
            else {
                $("#p-info-body").text("暂时没有优惠券可以兑换！");
                $("#modal-info").modal("show");
            }
        });
    }

    function exchangeCoupon(obj) {
        $(obj).button("loading");

        var temp1 = $(obj).attr("id");
        var temp2 = temp1.split("-");
        var couponID = temp2[2];
        var data = {"couponID":couponID};
        $.post("ExchangeCoupon", data, function (rs) {
            var res = $.parseJSON(rs);

            $("#p-info-body").text(res.message);
            $("#modal-info").modal("show");

            if( res.result ){
                hasExchangedCoupon = true;
            }

            var time = 8;
            var interval = setInterval(function () {
                if( time>=0 ){
                    $(obj).text(time+"s");
                    time = time -1;
                }
                else{
                    clearInterval(interval);
                    $(obj).button("complete");
                }
            }, 1000);
        });
    }

    function exchangedCouponList_to_userCouponList() {
        if( hasExchangedCoupon ){
            getAllUserCouponAndShow();
            hasExchangedCoupon = false;
        }
        $("#div-exchangedCouponList").hide();
        $("#div-userCouponList").show();
    }
</script>
</body>
</html>
