
<html>
<head>
    <meta charset="utf-8">
    <title>UserInfo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../stylesheet/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../stylesheet/bootstrap/bootstrap-theme.min.css">

    <link rel="stylesheet" href="../../stylesheet/common.css">
    <link rel="stylesheet" href="../stylesheet/bootstrap/my-bootstrap.css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Tickets</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="UserBuyTicket">订票</a></li>
                <li><a href="UserOrder">订单查看</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden">
                <li><a href="#"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden-xs active"><a href="#">个人信息</a></li>
                <li class="visible-xs active"><a href="#">基本信息</a></li>
                <li class="visible-xs"><a href="UserCoupon">优惠券</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- 伪 navbar -->
<nav class="navbar navbar-default" role="navigation" style="visibility: hidden">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Tickets</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="UserBuyTicket">订票</a></li>
                <li><a href="UserOrder">订单查看</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden">
                <li><a href="#"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden-xs active"><a href="#">个人信息</a></li>
                <li class="visible-xs active"><a href="#">基本信息</a></li>
                <li class="visible-xs"><a href="UserCoupon">优惠券</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid center-block">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-2 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 hidden-xs" style="position: fixed">
            <div class="list-group list-group">
                <a class="list-group-item active" href="#">
                    <div class="input-group">
                        <span class="glyphicon glyphicon-user"></span>
                        &nbsp;&nbsp;基本信息
                    </div>
                </a>
                <a class="list-group-item" href="UserCoupon">
                    <span class="glyphicon glyphicon-credit-card"></span>
                    &nbsp;&nbsp;优惠券
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-lg-offset-5 col-md-6 col-md-offset-5 col-sm-7 col-sm-offset-4 col-xs-12">
            <table class="table">
                <thead></thead>
                <tbody>
                <tr>

                </tr>
                <tr id="tr-userName">
                    <td>昵称</td>
                    <td>
                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding: 0">
                            <input class="form-control" id="input-userName" type="text" placeholder="请输入昵称">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td>
                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding: 0">
                            <input class="form-control" id="input-userEmail" type="text" readonly>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>VIP</td>
                    <td>
                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding: 0">
                            <div class="input-group">
                                <div class="input-group-addon">Lv</div>
                                <input class="form-control" id="input-userVIP" type="text" readonly>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>余额</td>
                    <td>
                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding: 0">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-yen"></span>
                                </span>
                                <input class="form-control" id="input-userBalance" type="text" readonly>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>积分</td>
                    <td>
                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding: 0">
                            <input class="form-control" id="input-userPoint" type="text" readonly>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <hr class="hr-dashed-info">
                <button class="btn btn-default" id="btn-submitInfoChange" data-loading-text="修改中..."
                        data-complete-text="提交信息修改" disabled>提交信息修改</button>

                <button class="btn btn-danger pull-right" id="btn-deleteVIP">注销会员</button>
            </div>

            <div>
                <hr class="hr-dashed-info">
                <form action="/Logout" role="form" method="post">
                    <input class="btn btn-warning pull-right" type="submit" value="退出登录">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-info" tabindex="-1" role="dialog" aria-labelledby="label-message" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p id="p-info-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-danger" tabindex="-1" role="dialog" aria-labelledby="label-message" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header my-panel-danger my-panel-header">
                <p id="p-danger-header">
            </div>
            <div class="modal-body">
                <p id="p-danger-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-right" type="button" data-dismiss="modal">关闭</button>
                <div id="div-danger-footer-extend"></div>
            </div>
        </div>
    </div>
</div>

<script src="../../javascript/jquery/jquery-3.2.1.min.js" ></script>
<script src="../../javascript/bootstrap/bootstrap.min.js" ></script>
<script src="../../javascript/bootstrap/my-bootstrap.js" ></script>
<script>
    var userNameSave = "";
    $(function () {
        $.post("GetUserInfo", function (rs) {
            var res = $.parseJSON(rs);
            $("#input-userEmail").val(res.email);
            $("#input-userName").val(res.name);
            userNameSave = res.name;
            $("#input-userVIP").val(res.vipLevel);
            $("#input-userBalance").val(res.balance);
            $("#input-userPoint").val(res.point);
        });

        emptyModelMessage( $("#modal-info"), undefined, $("#p-info-body") );
        emptyModelMessage( $("#modal-danger"), $("#p-danger-header"), $("#p-danger-body") );
    });
</script>
<script>
    function disableButton(obj, time) {
        if( time==undefined || time<=0 ){
            time = 30;
        }

        var interval = setInterval(function () {
            if( time>=0 ){
                $(obj).text(time+"s");
                time = time -1;
            }
            else{
                clearInterval(interval);
                $(obj).removeAttr("disabled").button("complete");
            }
        }, 1000);
    }

    function deleteAccount() {
        var userEmail = $("#input-userEmail").val().toString();
        var data = {"userEmail": userEmail};
        $.post("CancelAccountVIP", data, function (rs) {
            var res = $.parseJSON(rs);
            if( res.result ){
                window.location.replace("/Login");
            }
            else {
                $("#p-info-body").text(res.message);
                $("#modal-info").modal("show");
            }
        });
    }
</script>
<script>
    $("#input-userName").bind("input propertychange change", function(){
        var userName = $("#input-userName").val().toString();
        userName = deleteSpace(userName);
        $("#input-userName").val(userName);

        if( userName==userNameSave && !$("#btn-submitInfoChange").prop("disabled") ){
            $("#btn-submitInfoChange").attr("disabled", true);
            $("#btn-submitInfoChange").removeClass("btn-info");
            $("#btn-submitInfoChange").addClass("btn-default");
        }
        else {
            if( userName.length>0 ){
                if( $("#input-userName").hasClass("border-red") ) {
                    $("#input-userName").removeClass("border-red");
                }
                if( $("#btn-submitInfoChange").prop("disabled") ){
                    $("#btn-submitInfoChange").removeAttr("disabled");
                    $("#btn-submitInfoChange").removeClass("btn-default");
                    $("#btn-submitInfoChange").addClass("btn-info");
                }
            }
            else {
                if( !$("#input-userName").hasClass("border-red") ){
                    $("#input-userName").addClass("border-red");
                }
                if( !$("#btn-submitInfoChange").prop("disabled") ){
                    $("#btn-submitInfoChange").attr("disabled", true);
                    $("#btn-submitInfoChange").removeClass("btn-info");
                    $("#btn-submitInfoChange").addClass("btn-default");
                }
            }
        }
    });

    $("#btn-submitInfoChange").click(function () {
        $("#btn-submitInfoChange").button("loading");

        var userEmail = $("#input-userEmail").val().toString();
        var userName = $("#input-userName").val().toString();
        userName = deleteSpace(userName);
        $("#input-userName").val(userName);

        if( userName.length==0 ){
            $("#p-info-body").text("请输入昵称！");
            $("#modal-info").modal("show");
            disableButton( $("#btn-submitInfoChange"), 30 );
            return;
        }

        var data = {"userEmail":userEmail, "userName":userName};
        $.post("ChangeUserInfo", data, function (rs) {
            var res = $.parseJSON(rs);
            if( !res.result ){
                $("#p-info-body").text(res.message);
                $("#modal-info").modal("show");
            }
            else{
                $("#tr-userName").addClass("success").delay(1000).queue(function () {
                    $(this).removeClass("success");
                });
            }

            disableButton( $("#btn-submitInfoChange"), 30 );
        });
    });

    $("#btn-deleteVIP").click(function () {
        $("#div-danger-footer-extend").empty();
        var div = "<button class='btn btn-danger pull-left' type='button' data-dismiss='modal' onclick='deleteAccount()'>确认注销</button>";
        $("#div-danger-footer-extend").append(div);

        $("#p-danger-header").text("注销确认");
        $("#p-danger-body").text("注销会员将导致该账户下线！并且以后无法登陆！无法享受VIP优惠！确认注销请点击确定。");
        $("#modal-danger").modal("show");
    });
</script>
</body>
</html>
