
<html>
<head>
    <meta charset="utf-8">
    <title>Order</title>

    <link rel="stylesheet" type="text/css" href="../../stylesheet/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheet/bootstrap/bootstrap-theme.min.css">

    <link rel="stylesheet" type="text/css" href="../../stylesheet/common.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheet/title.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheet/hallSeat.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheet/fix.css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Tickets</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="UserBuyTicket">订票</a></li>
                <li class="active"><a href="#">订单查看</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden">
                <li><a href="#"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="UserInfo">个人信息</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- 伪 navbar -->
<nav class="navbar navbar-default" role="navigation" style="visibility: hidden">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Tickets</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="UserBuyTicket">订票</a></li>
                <li class="active"><a href="#">订单查看</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden">
                <li><a href="#"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="UserInfo">个人信息</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid center-block">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs" style="position: fixed">
            <div class="list-group" role="tablist">
                <a class="list-group-item active" href="#div-od-historical"
                   data-toggle="tab" role="tab" onclick="getUserAllHistoricalOdsAndShow()">历史订单</a>
                <a class="list-group-item" href="#div-od-timeout"
                   data-toggle="tab" role="tab" onclick="getUserAllTimeoutOdsAndShow()">超时订单</a>
                <a class="list-group-item" href="#div-od-deleted"
                   data-toggle="tab" role="tab" onclick="getUserAllDeletedOdsAndShow()">退订订单</a>
                <a class="list-group-item" href="#div-od-future"
                   data-toggle="tab" role="tab" onclick="getUserAllFutureOdsAndShow()">未来订单</a>
                <a class="list-group-item" href="#div-od-unfinished"
                   data-toggle="tab" role="tab" onclick="getUserAllUnfinishedOdsAndShow()">未完成订单</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 col-xs-12">
            <div class="tab-content">
                <!--div-od-historical-->
                <div class="tab-pane fade in active" id="div-od-historical" role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active" role="presentation">
                            <a href="#tab-od-historical-checked" data-toggle="tab" role="tab">已检票订单</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab-od-historical-unchecked" data-toggle="tab" role="tab">作废订单</a>
                        </li>
                    </ul>

                    <hr class="hr-dashed-info">

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-od-historical-checked" role="tabpanel" >
                            <table class="table table-bordered table-hover" id="table-od-historical-checked">
                                <thead></thead>
                                <tbody id="tbody-od-historical-checked">
                                <tr>
                                    <th>订单ID</th>
                                    <th>活动名称</th>
                                    <th>下单时间</th>
                                    <th>订票数目</th>
                                    <th>实付金额 / 元</th>
                                    <th></th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="tab-od-historical-unchecked" role="tabpanel">
                            <table class="table table-bordered table-hover" id="table-od-historical-unchecked">
                                <thead></thead>
                                <tbody id="tbody-od-historical-unchecked">
                                <tr>
                                    <th>订单ID</th>
                                    <th>活动名称</th>
                                    <th>下单时间</th>
                                    <th>订票数目</th>
                                    <th>实付金额 / 元</th>
                                    <th></th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!--div-od-historical-->

                <!--div-od-timeout-->
                <div class="tab-pane fade" id="div-od-timeout" role="tabpanel">
                    <table class="table table-bordered table-hover" id="table-od-timeout">
                        <thead></thead>
                        <tbody id="tbody-od-timeout">
                        <tr>
                            <th>订单ID</th>
                            <th>活动名称</th>
                            <th>下单时间</th>
                            <th>订票数目</th>
                        </tr>
                        </tbody>
                        </tbody>
                    </table>
                </div><!--div-od-timeout-->

                <!--div-od-deleted-->
                <div class="tab-pane fade" id="div-od-deleted" role="tabpanel">
                    <table class="table table-bordered table-hover" id="table-od-deleted">
                        <thead></thead>
                        <tbody id="tbody-od-deleted">
                        <tr>
                            <th>订单ID</th>
                            <th>活动名称</th>
                            <th>下单时间</th>
                            <th>订票数目</th>
                            <th>实付金额 / 元</th>
                        </tr>
                        </tbody>
                        </tbody>
                    </table>
                </div><!--div-od-deleted-->

                <!--div-od-future-->
                <div class="tab-pane fade" id="div-od-future" role="tabpanel">
                    <table class="table table-bordered table-hover" id="table-od-future">
                        <thead></thead>
                        <tbody id="tbody-od-future">
                        <tr>
                            <th>订单ID</th>
                            <th>活动名称</th>
                            <th>下单时间</th>
                            <th>订票数目</th>
                            <th>实付金额 / 元</th>
                        </tr>
                        </tbody>
                        </tbody>
                    </table>
                </div><!--div-od-future-->

                <!--div-od-unfinished-->
                <div class="tab-pane fade" id="div-od-unfinished" role="tabpanel">
                    <table class="table table-bordered table-hover" id="table-od-unfinished">
                        <thead></thead>
                        <tbody id="tbody-od-unfinished">
                        <tr>
                            <th>订单ID</th>
                            <th>活动名称</th>
                            <th>下单时间</th>
                            <th>订票数目</th>
                            <th>实付金额 / 元</th>
                        </tr>
                        </tbody>
                        </tbody>
                    </table>
                </div><!--div-od-unfinished-->
            </div>
        </div>
    </div>
</div>

<div class="common">
    <div class="main">
        <div id="OdList_show_div">

        </div>

        <div id="OdInfo_show_div" style="display: none">
            <button onclick="OdInfo_show_div_back_OdList_show_div()">🔙</button>
            <hr style='height:1px;border:none;border-top:1px dashed #0066CC;' />
            <div id="Od_Info_div">
                <p><label>订单ID：</label><input id="Od_ID_input" type='text' readonly/></p>
                <p><label>影片：</label><input id="Od_nameOfPlan_input" type='text' readonly/></p>
                <p><label>时间：</label></p>
                <p><input id="Od_beginTimeOfPlan_div" type='text' readonly/></p>
                <p>-></p>
                <p><input id="Od_endTimeOfPlan_div" type='text' readonly/></p>
                <p><label>座位：</label><input id="Od_seat_input" style="visibility: hidden"/></p>
                <ul id='Od_seatSelected_ul'></ul>
                <p><label>总价：</label><input id="Od_totalPrice_input" type="text" readonly /></p>
                <p><label>VIP优惠：</label><input id="Od_vipDiscount_input" type="text" readonly /></p>
                <p id="OdInfo_payImmediately_coupon_p">
                    <label>优惠券：</label>
                    <select id="Od_coupon_select" onchange="showCouponDiscountAndChangeTotalPay()"></select>
                    <input id="OdInfo_payImmediately_couponDiscount_input" type="text" readonly />
                </p>
                <p id="OdInfo_show_couponDiscount_p" style="display: none">
                    <label>优惠券优惠：</label>
                    <input id="OdInfo_show_couponDiscount_input" type="text" readonly />
                </p>
                <p><label>实付：</label><input id="Od_totalPay_input" type="text" readonly /></p>
            </div>
            <div id="Od_info_expand_div">

            </div>
        </div>

        <div id="planHallSeat_show_div" style="display: none">

        </div>

        <div id="seatMap_div" style="display:none;">
            <hr style='height:1px;border:none;border-top:1px dashed #0066CC;' />
            <p><label>场厅信息</label></p>
            <div id="seatMap">

            </div>
        </div>

        <div class="fixRightFar" id="venueInfo_div" style="display: none">
            <p><label>订单付款倒计时：</label></p>
            <p><input style="color: red" type="text" id="Od_timeout_input" readonly/></p>
            <hr style='height:1px;border:none;border-top:1px dashed #0066CC;' />
            <p><label>场馆信息</label></p>
            <p><label>省：</label><input type="text" id="venueProvince" readonly /></p>
            <p><label>市：</label><input type="text" id="venueCity" readonly /></p>
            <p><label>地址：</label><input class="info_change" type="text" id="venueAddress" readonly /></p>
            <p><label>电话：</label><input class="info_change" type="tel" id="venueTel" readonly /></p>
        </div>

    </div>
</div>

<div class="modal fade" id="modal-info" tabindex="-1" role="dialog" aria-labelledby="label-message" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p id="p-info-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script>
    var dateFormat = "yyyy-MM-dd hh:mm:ss";
    var OdInfos = [];
    var totalPrice = 0.0;
    var seatRowAndCol = new Array();
</script>
<script src="../../javascript/jquery/jquery-3.2.1.min.js" ></script>
<script src="../../javascript/jquery/jquery.seat-charts.min.js" ></script>
<script src="../../javascript/bootstrap/bootstrap.min.js" ></script>

<script src="../../javascript/date-format.js" ></script>
<script src="../../javascript/user/userOrder-showSeat.js" ></script>
<script src="../../javascript/bootstrap/my-bootstrap.js" ></script>
<script>
    $(function () {
        getUserAllHistoricalOdsAndShow();

        emptyModelMessage( $("#modal-info"), undefined, $("#p-info-body"));

        $("div.list-group a").click(function () {
            $("div.list-group a").removeClass("active");
            $(this).addClass("active")
        });
    });
</script>
<script>
    function getHallInfoAndShow(planID) {
        var data = {"planID":planID};
        $.post("GetPlanVenueInfo", data, function (rs) {
            var res = $.parseJSON(rs);
            $("#venueProvince").val(res.province);
            $("#venueCity").val(res.city);
            $("#venueAddress").val(res.address);
            $("#venueTel").val(res.telephone);
        })
    }
</script>

<!-- nf: historical od -->
<script>
    function remindNoOd() {
        $("#p-info-body").text("没有该类型的订单！");
        $("#modal-info").modal("show");
    }

    var gotHistoricalOds = false;
    function getUserAllHistoricalOdsAndShow() {
        if( gotHistoricalOds ){
            return;
        }
        $("#tbody-od-historical-checked").children("tr.tr-extend").remove();
        $("#tbody-od-historical-unchecked").children("tr.tr-extend").remove();

        $.post("GetUserAllHistoricalOds", function (rs) {
            var res = $.parseJSON(rs);
            if( res.length>0 ){
                $.each(res, function (index, value, array) {
                    var infoDiv = "";
                    infoDiv += "<tr class='tr-extend'>" +
                        "<td>" + value.odID + "</td>" +
                        "<td>" + value.planID + "</td>" +
                        "<td>" + new Date(value.makeTime).format(dateFormat) + "</td>" +
                        "<td>" + value.numOfTicket + "</td>" +
                        "<td>" + value.totalPay + "</td>" +
                        "<td style='text-align: center;'>" +
                            "<button class='btn btn-info' title='详细信息'>" +
                                "<span class='glyphicon glyphicon-info-sign'></span>" +
                            "</button>" +
                        "</td>" +
                        "</tr>";
                    if( value.checked ){
                        $("#tbody-od-historical-checked").append(infoDiv);
                    }
                    else {
                        $("#tbody-od-historical-unchecked").append(infoDiv);
                    }
                });
            }
            else {
                remindNoOd();
            }
            gotHistoricalOds = true;
        });
    }
</script><!-- nf: historical od -->

<!-- nf: timeout od -->
<script>
    var gotTimeoutOds = false;
    function getUserAllTimeoutOdsAndShow() {
        if( gotTimeoutOds ){
            return;
        }
        $("#tbody-od-timeout").children("tr.tr-extend").remove();

        $.post("GetUserAllTimeoutOds", function (rs) {
            var res = $.parseJSON(rs);
            if( res.length>0 ){
                $.each(res, function (index, value, array) {
                    var infoDiv = "";
                    infoDiv += "<tr class='tr-extend'>" +
                        "<td>" + value.odID + "</td>" +
                        "<td>" + value.planID + "</td>" +
                        "<td>" + new Date(value.makeTime).format(dateFormat) + "</td>" +
                        "<td>" + value.numOfTicket + "</td>" +
                        "</tr>";
                    $("#tbody-od-timeout").append(infoDiv);
                });
            }
            else {
                remindNoOd();
            }
            gotTimeoutOds = true;
        });
    }
</script><!-- nf: timeout od -->

<!-- nf: deleted od -->
<script>
    var gotDeletedOds = false;
    function getUserAllDeletedOdsAndShow() {
        if( gotDeletedOds ){
            return;
        }
        $("#tbody-od-deleted").children("tr.tr-extend").remove();

        $.post("GetUserAllDeletedOds", function (rs) {
            var res = $.parseJSON(rs);
            if( res.length>0 ){
                $.each(res, function (index, value, array) {
                    var infoDiv = "";
                    infoDiv += "<tr class='tr-extend'>" +
                        "<td>" + value.odID + "</td>" +
                        "<td>" + value.planID + "</td>" +
                        "<td>" + new Date(value.makeTime).format(dateFormat) + "</td>" +
                        "<td>" + value.numOfTicket + "</td>" +
                        "<td>" + value.totalPay + "</td>" +
                        "</tr>";
                    $("#tbody-od-deleted").append(infoDiv);
                });
            }
            else {
                remindNoOd();
            }
            gotDeletedOds = true;
        });
    }
</script><!-- nf: deleted od -->

<!-- nf: future od -->
<script>
    var gotFutureOds = false;
    function getUserAllFutureOdsAndShow() {
        if( gotFutureOds ){
            return;
        }
        $("#tbody-od-future").children("tr.tr-extend").remove();

        $.post("GetUserAllFutureOds", function (rs) {
            var res = $.parseJSON(rs);
            if( res.length>0 ){
                $.each(res, function (index, value, array) {
                    var infoDiv = "";
                    infoDiv += "<tr class='tr-extend'>" +
                        "<td>" + value.odID + "</td>" +
                        "<td>" + value.planID + "</td>" +
                        "<td>" + new Date(value.makeTime).format(dateFormat) + "</td>" +
                        "<td>" + value.numOfTicket + "</td>" +
                        "<td>" + value.totalPay + "</td>" +
                        "</tr>";
                    $("#tbody-od-future").append(infoDiv);
                });
            }
            else {
                remindNoOd();
            }
            gotFutureOds = true;
        });
    }
</script><!-- nf: future od -->

<!-- nf: unfinished od -->
<script>
    var gotUnfinishedOds = false;
    function getUserAllUnfinishedOdsAndShow() {
        if( gotUnfinishedOds ){
            return;
        }
        $("#tbody-od-unfinished").children("tr.tr-extend").remove();

        $.post("GetUserAllUnfinishedOds", function (rs) {
            var res = $.parseJSON(rs);
            if( res.length>0 ){
                $.each(res, function (index, value, array) {
                    var infoDiv = "";
                    infoDiv += "<tr class='tr-extend'>" +
                        "<td>" + value.odID + "</td>" +
                        "<td>" + value.planID + "</td>" +
                        "<td>" + new Date(value.makeTime).format(dateFormat) + "</td>" +
                        "<td>" + value.numOfTicket + "</td>" +
                        "<td>" + value.totalPay + "</td>" +
                        "</tr>";
                    $("#tbody-od-unfinished").append(infoDiv);
                });
            }
            else {
                remindNoOd();
            }
            gotUnfinishedOds = true;
        });
    }
</script><!-- nf: unfinished od -->

<!--未来订单-->
<script>
    function showUserOd_future_info(obj) {
        var temp1 = $(obj).attr("id");
        var temp2 = temp1.split("_");
        var OdID = temp2[1];
        var planID = temp2[2];

        var OdInfo = {};
        for( var i=0; i<OdInfos.length; i++ ){
            OdInfo = OdInfos[i];
            if( OdID==OdInfo.odID ){
                break;
            }
        }

        $("#Od_ID_input").val(OdID);

        var data = {"planID":planID};
        $.post("GetUserOdPlanInfo", data, function (rs) {
            var res = $.parseJSON(rs);

            $("#Od_nameOfPlan_input").val(res.name);
            $("#Od_beginTimeOfPlan_div").val(new Date(res.beginTime).format(dateFormat));
            $("#Od_endTimeOfPlan_div").val(new Date(res.endTime).format(dateFormat));
        });

        data = {"OdID":OdID};
        $.post("GetUserOdAllSeatSelectedInfo", data, function (rs) {
            var res = $.parseJSON(rs);
            seatRowAndCol = new Array();

            $("#Od_seatSelected_ul").empty();
            if( res.length>0 ){
                $.each(res, function (index, value, array) {
                    var seatLi = "<li>" + value.row + "排" + value.col + "座  ¥" + value.price + "</li>";
                    $("#Od_seatSelected_ul").append(seatLi);
                    seatRowAndCol[seatRowAndCol.length] = value.row + "_" + value.col;
                });
            }
            else {
                var seatLi = "<li>还未分配座位！</li>";
                $("#Od_seatSelected_ul").append(seatLi);
            }
        });

        totalPrice = parseFloat(OdInfo.totalPrice.toFixed(2));
        $("#Od_totalPrice_input").val(totalPrice);

        var vipDiscount = OdInfo.couponDiscount;
        $("#Od_vipDiscount_input").val(vipDiscount);

        var couponDiscount = OdInfo.couponDiscount;
        $("#OdInfo_show_couponDiscount_input").val(couponDiscount);

        var totalPay = OdInfo.totalPay;
        $("#Od_totalPay_input").val(totalPay)

        $("#Od_info_expand_div").empty();
        var submitBtn = "<button id='btn_" + OdID +"_deleteOd' onclick='deleteOd(this)'>取消订单</button>";
        $("#Od_info_expand_div").append(submitBtn);

        getSeatDistAndShow(planID);

        getHallInfoAndShow(planID);
    }

    function deleteOd(obj) {
        var isConfirmed = confirm("确认退单？");
        if( isConfirmed ){
            var temp1 = $(obj).attr("id");
            var temp2 = temp1.split("_");
            var OdID = temp2[1];
            var data = {"OdID":OdID};
            $.post("DeleteOrder", data, function (rs) {
                var res = $.parseJSON(rs);
                if( res.result ){
                    alert(res.message);
                    OdInfo_show_div_back_OdList_show_div();
                    window.location.reload();
                }
                else {
                    alert(res.message);
                }
            });
        }
    }
</script>
<!--未来订单-->

<!--未完成订单-->
<script>
    function show_userOd_unfinished() {
        getInfoAndShow("GetAllUserOdUnfinished", "showUserOd_unfinished_info(this)");
        $("#userOd_unfinished").addClass("active");
    }

    var intrval = undefined;
    function showUserOd_unfinished_info(obj) {
        $("#title_2").hide();
        $("#OdList_show_div").hide();
        $("#OdInfo_show_couponDiscount_p").hide();

        $("#OdInfo_show_div").show();
        $("#OdInfo_payImmediately_coupon_p").show();
        $("#Od_info_expand_div").show();
        $("#seatMap_div").show();
        $("#venueInfo_div").show();

        var temp1 = $(obj).attr("id");
        var temp2 = temp1.split("_");
        var OdID = temp2[1];
        var planID = temp2[2];

        var OdInfo = {};
        for( var i=0; i<OdInfos.length; i++ ){
            OdInfo = OdInfos[i];
            if( OdID==OdInfo.odID ){
                break;
            }
        }
        $("#Od_ID_input").val(OdID);

        $("#Od_timeout_div").show();
        $("#Od_timeout_input").val("");
        var makeTime = OdInfo.makeTime;
        intrval = undefined;
        intrval = setInterval(function(){
            var future = parseFloat( new Date(makeTime).getTime() + 15 * 60 * 1000 );
            var now = parseFloat( new Date().getTime() );

            if( future<now ){
                $("#Od_timeout_input").val("订单超时！");
            }
            else {
                var distance = parseFloat(future - now) / 1000;
                var minutes = parseInt(distance / 60);
                var seconds = parseInt(distance % 60);
                var message = minutes + ":" +seconds;
                $("#Od_timeout_input").val(message);
            }
        }, 1000);

        var data = {"planID":planID};
        $.post("GetUserOdPlanInfo", data, function (rs) {
            var res = $.parseJSON(rs);

            $("#Od_nameOfPlan_input").val(res.name);
            $("#Od_beginTimeOfPlan_div").val(new Date(res.beginTime).format(dateFormat));
            $("#Od_endTimeOfPlan_div").val(new Date(res.endTime).format(dateFormat));
        });

        data = {"OdID":OdID};
        $.post("GetUserOdAllSeatSelectedInfo", data, function (rs) {
            var res = $.parseJSON(rs);
            seatRowAndCol = new Array();

            $("#Od_seatSelected_ul").empty();
            if( res.length>0 ){
                $.each(res, function (index, value, array) {
                    var seatLi = "<li>" + value.row + "排" + value.col + "座  ¥" + value.price + "</li>";
                    $("#Od_seatSelected_ul").append(seatLi);
                    seatRowAndCol[seatRowAndCol.length] = value.row + "_" + value.col;
                })
            }
            else {
                var seatLi = "<li>还未分配座位！</li>";
                $("#Od_seatSelected_ul").append(seatLi);
            }
        });

        $("#Od_info_expand_div").empty();
        var submitBtn = "<button id='btn_" + OdID +"_payOdImmediately' onclick='payOdImmediately(this)'>立即付款</button>" +
            "<button onclick='OdInfo_show_div_back_OdList_show_div()'>稍后付款</button>" +
            "<button id='btn_" + OdID +"_deleteOd' onclick='deleteOd(this)'>取消订单</button>";
        $("#Od_info_expand_div").append(submitBtn);

        totalPrice = parseFloat(OdInfo.totalPrice.toFixed(2));
        $("#Od_totalPrice_input").val(totalPrice);

        getAndShowVIPCouponDiscount();

        getSeatDistAndShow(planID);

        getHallInfoAndShow(planID);
    }

    var coupons = [];
    function getAndShowVIPCouponDiscount() {
        // 获得所有优惠券
        $.post("GetAllUserCoupons", function (rs) {
            var res = $.parseJSON(rs);
            coupons = res;

            $("#Od_coupon_select").empty();

            var nullOption = "<option value='' selected></option>";
            $("#Od_coupon_select").append(nullOption);
            $.each(res, function (index, value, array) {
                var option = "<option value='" + value.couponID + "'>" + value.name + "</option>";
                $("#Od_coupon_select").append(option);
            });

            $("#OdInfo_payImmediately_couponDiscount_input").val("");
        });

        // 获得 VIP 等级对应优惠，并计算优惠金额
        $.post("GetUserVIPDiscount", function (rs) {
            var res = $.parseJSON(rs);
            var percent = parseInt(res.percent);
            var discount = (100 - percent)*totalPrice/100.0;
            discount = parseFloat(discount.toFixed(2));
            $("#Od_vipDiscount_input").val(discount);

            var totalPay = totalPrice - discount;
            totalPay = parseFloat(totalPay.toFixed(2));
            $("#Od_totalPay_input").val(totalPay);
        });
    }

    function showCouponDiscountAndChangeTotalPay() {
        var couponID = $("#Od_coupon_select option:selected").val().toString();
        if( couponID.length>0 ){
            for( var i=0; i<coupons.length; i++ ){
                var coupon = coupons[i];
                if( coupon.couponID==couponID ){
                    $("#OdInfo_payImmediately_couponDiscount_input").val(coupon.discount);
                    var totalPay = totalPrice - parseFloat($("#Od_vipDiscount_input").val().toString()) - parseFloat(coupon.discount);
                    totalPay = parseFloat(totalPay.toFixed(2));
                    if( totalPay<0 ){
                        totalPay = 0;
                    }
                    $("#Od_totalPay_input").val(totalPay);
                    break;
                }
            }
        }
        else {
            $("#OdInfo_payImmediately_couponDiscount_input").val("");
            var totalPay = totalPrice - parseFloat($("#Od_vipDiscount_input").val().toString());
            totalPay = parseFloat(totalPay.toFixed(2));
            $("#Od_totalPay_input").val(totalPay);
        }
    }

    function payOdImmediately(obj) {
        var temp1 = $(obj).attr("id");
        var temp2 = temp1.split("_");
        var OdID = temp2[1];
        var couponID = $("#Od_coupon_select option:selected").val().toString();
        var data = {"OdID":OdID, "couponID":couponID};
        $.post("PayOrder", data, function (rs) {
            var res = $.parseJSON(rs);
            if( res.result ){
                alert(res.message);
                OdInfo_payImmediately_div_back_OdList_show_div();
                window.location.reload();
            }
            else {
                alert(res.message);
            }
        });
    }
</script>
<!--未完成订单-->

<script>
    function OdInfo_show_div_back_OdList_show_div() {
        $("#OdInfo_show_div").hide();
        $("#Od_info_expand_div").hide();
        $("#seatMap_div").hide();
        $("#venueInfo_div").hide();
        $("#Od_timeout_div").hide();

        $("#title_2").show();
        $("#OdList_show_div").show();
        $("#Od_timeout_input").val("");

        clearInterval(intrval);
    }
</script>
</body>
</html>
