
<html>
<head>
    <meta charset="UTF-8">
    <title>UserCoupon</title>
    <link rel="stylesheet" type="text/css" href="../../stylesheet/common.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheet/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheet/bootstrap/bootstrap-theme.min.css">
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Tickets</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="UserBuyTicket">订票</a></li>
                <li><a href="UserOrder">订单查看</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden">
                <li><a href="#"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden-xs active"><a href="#">个人信息</a></li>
                <li class="visible-xs"><a href="UserInfo">基本信息</a></li>
                <li class="visible-xs active"><a href="#">优惠券</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid center-block">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2 hidden-xs" style="position: fixed">
            <div class="list-group list-group">
                <a class="list-group-item" href="UserInfo">
                    <div class="input-group">
                        <span class="glyphicon glyphicon-user"></span>
                        &nbsp;&nbsp;基本信息
                    </div>
                </a>
                <a class="list-group-item active" href="#">
                    <span class="glyphicon glyphicon-credit-card"></span>
                    &nbsp;&nbsp;优惠券
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-lg-offset-5 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-6">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <button class="btn btn-info" onclick="main_to_exchangeCoupon()">兑换优惠券</button>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 hidden"></div>

                <div class="col-lg-4 col-md-4 col-sm-4" id="div-no-coupon">
                    <input class="form-control btn-warning hidden" type="text" value="还未拥有优惠券" disabled>
                </div>
            </div>

            <br>

            <table class="table table-bordered table-striped">
                <thead></thead>
                <tbody id="tbody-coupon-list">
                <tr>
                    <th>优惠券名称</th>
                    <th>优惠金额</th>
                    <th>拥有数量</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="common" style="display:none;">
    <div class="main minMain bigMain">
        <div id="exchangeCoupon_div" style="display: none">
            <div>
                <button onclick='exchangeCoupon_back_showUserCouponInfo()'>🔙</button>
                <hr style='height:1px;border:none;border-top:1px dashed #0066CC;' />
            </div>
            <div id="showCouponExchanged_div">

            </div>
        </div>
    </div>
</div>

<script src="../../javascript/jquery/jquery-3.2.1.min.js"></script>
<script src="../../javascript/bootstrap/bootstrap.min.js"></script>
<script>
    $(function () {
        getAllUserCouponAndShow();
    });
</script>
<script>
    function getAllUserCouponAndShow() {
        $.post("GetAllUserCoupons", function (rs) {
            var res = $.parseJSON(rs);
            $("#showUserCouponInfo_div").empty();
            if( res.length>0 ){
                $("#div-no-coupon").addClass("hidden");
                $.each(res, function (index, value, array) {
                    var infoDiv = "<tr>" +
                        "<td>" + value.name + "</td>" +
                        "<td>" + value.discount + "</td>" +
                        "<td>" + value.number + "</td>" +
                        "</tr>";
                    $("#tbody-coupon-list").append(infoDiv);
                });
            }
            else {
                $("#div-no-coupon").removeClass("hidden");
            }
        });
    }

    function main_to_exchangeCoupon() {
        $("#main_div").hide();
        $("#exchangeCoupon_div").show();
        $("#showCouponExchanged_div").empty;
        $.post("GetAllCouponInfosExchanged", function (rs) {
            var res = $.parseJSON(rs);
            if( res.length>0 ){
                $.each(res, function (index, value, array) {
                    var couponID = value.couponID;
                    var infoDiv = "<div id='coupon_" + couponID + "_info_div'>" +
                        "<p>名称：<input type='text' value='" + value.name + "' readonly></p>" +
                        "<p>优惠金额：<input type='text' value='" + value.discount + "' readonly></p>" +
                        "<p>所需积分：<input type='text' value='" + value.point + "' readonly></p>" +
                        "<button id='btn_" + couponID + "_exchange' onclick='exchangeCoupon(this)' '>兑换</button>" +
                        "<hr style='height:1px;border:none;border-top:1px dashed #0066CC;' />" +
                        "</div>";
                    $("#showCouponExchanged_div").append(infoDiv);
                });
            }
            else {
                var infoDiv = "<p>没有优惠券可以兑换！</p>";
                $("#showCouponExchanged_div").append(infoDiv);
            }
        });
    }

    function exchangeCoupon_back_showUserCouponInfo() {
        $("#main_div").show();
        $("#exchangeCoupon_div").hide();
        $("#showCouponExchanged_div").empty;
    }

    function exchangeCoupon(obj) {
        var temp1 = $(obj).attr("id");
        var temp2 = temp1.split("_");
        var couponID = temp2[1];
        var data = {"couponID":couponID};
        $.post("ExchangeCoupon", data, function (rs) {
            var res = $.parseJSON(rs);
            if( res.result ){
                alert(res.message);
                getAllUserCouponAndShow();
            }
            else {
                alert(res.message);
            }
        });
    }
</script>
</body>
</html>
