
<html>
<head>
    <meta charset="utf-8">
    <title>UserInfo</title>
    <link rel="stylesheet" type="text/css" href="../../stylesheet/common.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheet/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheet/bootstrap/bootstrap-theme.min.css">


</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Tickets</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="UserBuyTicket">订票</a></li>
                <li><a href="UserOrder">订单查看</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden">
                <li><a href="#"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden-xs active"><a href="#">个人信息</a></li>
                <li class="visible-xs active"><a href="#">基本信息</a></li>
                <li class="visible-xs"><a href="UserCoupon">优惠券</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid center-block">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2 hidden-xs" style="position: fixed">
            <div class="list-group list-group">
                <a class="list-group-item active" href="#">
                    <div class="input-group">
                        <span class="glyphicon glyphicon-user"></span>
                        &nbsp;&nbsp;基本信息
                    </div>
                </a>
                <a class="list-group-item" href="UserCoupon">
                    <span class="glyphicon glyphicon-credit-card"></span>
                    &nbsp;&nbsp;优惠券
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-lg-offset-5 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-6">
            <table class="table">
                <thead></thead>
                <tbody>
                <tr>

                </tr>
                <tr id="tr-user-name">
                    <td>昵称</td>
                    <td>
                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding: 0">
                            <input class="form-control" id="userName" type="text" placeholder="请输入昵称">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td>
                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding: 0">
                            <input class="form-control" id="userEmail" type="text" readonly>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>VIP</td>
                    <td>
                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding: 0">
                            <input class="form-control" id="userVIP" type="text" readonly>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>余额</td>
                    <td>
                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding: 0">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-yen"></span>
                                </span>
                                <input class="form-control" id="userBalance" type="text" readonly>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>积分</td>
                    <td>
                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding: 0">
                            <input class="form-control" id="userPoint" type="text" readonly>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <hr style='height:1px;border:none;border-top:1px dashed #0066CC;' />
                <button class="btn btn-info" id="submitInfo">提交修改</button>

                <button class="btn btn-danger pull-right" id="deleteVIP_1">注销会员</button>
            </div>

            <div>
                <hr style='height:1px;border:none;border-top:1px dashed #0066CC;' />
                <form action="/Logout" role="form" method="post">
                    <input class="btn btn-warning pull-right" type="submit" value="退出登录">
                </form>
            </div>
        </div>
    </div>
</div>

<script src="../../javascript/jquery/jquery-3.2.1.min.js" ></script>
<script src="../../javascript/bootstrap/bootstrap.min.js" ></script>
<script>
    var userNameSave = "";
    $(function () {
        $.post("GetUserInfo", function (rs) {
            var res = $.parseJSON(rs);
            $("#userEmail").val(res.email);
            $("#userName").val(res.name);
            userNameSave = res.name;
            $("#userVIP").val(res.vipLevel);
            $("#userBalance").val(res.balance);
            $("#userPoint").val(res.point);
        });
    });
</script>
<script>
    function deleteSpace(str) {
        return str.replace(/\s/g, "");
    }
</script>
<script>
    $("#userName").blur(function(){
        var userName = $("#userName").val().toString();
        userName = deleteSpace(userName);
        $("#userName").val(userName);

        if( userName.length>0 ){
            nameReady = true;
        }
        else {
            nameReady = false;
        }
    });

    $("#userName").bind("input propertychange change", function(){
        var userName = $("#userName").val().toString();
        userName = deleteSpace(userName);
        if( userName==userNameSave ){
            $("#submitInfo").removeClass("btn-info");
            $("#submitInfo").addClass("btn-default");
        }
        else{
            $("#submitInfo").removeClass("btn-default");
            $("#submitInfo").addClass("btn-info");
        }
    });

    $("#submitInfo").click(function () {
        var userEmail = $("#userEmail").val().toString();
        var userName = $("#userName").val().toString();
        userName = deleteSpace(userName);
        $("#userName").val(userName);

        var data = {"userEmail":userEmail, "userName":userName};
        $.post("ChangeUserInfo", data, function (rs) {
            var res = $.parseJSON(rs);
            if( !res.result ){
                alert(res.message);
            }
            else{
                $("#tr-user-name").addClass("success");

                $("#submitInfo").attr("disabled", "disabled");
                var time = 30;
                var interval = setInterval(function () {
                    if( time>=0 ){
                        $("#submitInfo").text(time+"s");
                        time = time -1;
                    }
                    else{
                        clearInterval(interval);
                        $("#submitInfo").removeAttr("disabled");
                        $("#submitInfo").text("提交修改");
                    }
                }, 1000);

                setTimeout(function () {
                    $("#tr-user-name").removeClass("success");
                }, 1000);
            }
        });
    });

    $("#deleteVIP_1").click(function () {
        var cancel = confirm("注销会员将导致该账户下线！并且以后无法登陆！无法享受VIP优惠！确认注销请点击确定。");
        if (cancel) {
            var userEmail = $("#userEmail").val().toString();
            var data = {"userEmail": userEmail};
            $.post("CancelAccountVIP", data, function (rs) {
               var res = $.parseJSON(rs);
               if( res.result ){
                   window.location.replace("/Login");
               }
               else {
                   alert(res.message);
               }
            });
        }
    });
</script>
</body>
</html>
