<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login</title>

    <link rel="stylesheet" href="../stylesheet/bootstrap/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../stylesheet/bootstrap/bootstrap.min.css">

    <link rel="stylesheet" href="../stylesheet/common.css">
    <link rel="stylesheet" href="../stylesheet/bootstrap/my-bootstrap.css">
</head>

<body class="body-gray">
<div class="common">
    <div class="main">
        <ul class="nav nav-pills nav-justified">
            <li class="active">
                <a>登录</a>
            </li>
            <li>
                <a href="/User/UserRegister">注册</a>
            </li>
            <li>
                <a href="/Venue/VenueRegister">场馆注册</a>
            </li>
        </ul>

        <hr>

        <form role="form" accept-charset="utf-8" onsubmit="return false">
            <!-- 登录名输入框 -->
            <div class="form-group">
                <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                    <input class="form-control" id="EmailORID" name="EmailORID"
                           type="text" placeholder="邮箱 或 场馆ID" required/>
                </div>
            </div>

            <!-- 登录密码输入框 -->
            <div class="form-group">
                <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                    <input class="form-control" id="password" name="password"
                           type="password" placeholder="密码" required/>
                </div>
            </div>

            <br>

            <div class="form-group">
                <!-- 登录 -->
                <input class="btn btn-info btn-lg btn-block" id="signInSubmit" type="submit" value="登录" />
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modal-loginFail" tabindex="-1" role="dialog" aria-labelledby="label-loginFail" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p id="p-loginFail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script src="../../javascript/jquery/jquery-3.2.1.min.js" ></script>
<script src="../../javascript/bootstrap/bootstrap.min.js" ></script>
<script>
    $("#signInSubmit").click(function() {
        var EmailORID = $("#EmailORID").val().toString();
        var password = $("#password").val().toString();
        EmailORID = EmailORID.toLowerCase();

        var data = {"EmailORID":EmailORID, "password":password};
        $.post("Login", data, function (rs) {
            var res = $.parseJSON(rs);
            if( !res.result ){
                $("#p-loginFail").text(res.message);
                $("#modal-loginFail").modal("show");
            }
            else{
                window.location.reload();
            }
        });
    });
</script>
</body>

</html>