<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../stylesheet/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheet/bootstrap/bootstrap-theme.min.css">

    <link rel="stylesheet" href="../stylesheet/common.css">
    <link rel="stylesheet" href="../stylesheet/accountState/register.css">
    <link rel="stylesheet" href="../stylesheet/bootstrap/my-bootstrap.css">
</head>

<body class="body-gray">
<div class="common">
    <div class="main">
        <ul class="nav nav-pills nav-justified">
            <li>
                <a href="/Login">登录</a>
            </li>
            <li class="active">
                <a>注册</a>
            </li>
            <li>
                <a href="/Venue/VenueRegister">场馆注册</a>
            </li>
        </ul>

        <hr>

        <form id="signUpForm" accept-charset="utf-8" role="form" method="post" onsubmit="return false">
            <!-- 邮箱 -->
            <div class="form-group">
                <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </span>
                    <input class="form-control" id="userEmail" name="userEmail"
                           type="email" placeholder="请输入邮箱" required/>
                </div>
            </div>

            <!-- 登录密码输入框 -->
            <div class="form-group">
                <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                    <input class="form-control" id="userPassword" name="userPassword"
                           type="password" placeholder="请输入密码" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                    <input class="form-control" id="userPasswordAgain" name="userPasswordAgain"
                           type="password" placeholder="请再次输入密码" required/>
                </div>
            </div>

            <!-- 昵称 -->
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </span>
                    <input class="form-control" id="userName" name="userName"
                           type="text" placeholder="请输入昵称" required/>
                </div>
            </div>

            <!-- 验证码 -->
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <input class="form-control" id="verificationCode" name="verificationCode"
                           type="text" placeholder="请输入邮箱验证码" required/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" style="font-size: 12px" id="getCodeBtn">获得验证码</button>
                    </span>
                </div>
            </div>

            <br>

            <!-- 注册 -->
            <div class="form-group">
                <input class="btn btn-info btn-lg btn-block" id="signUpSubmit" type="submit" value="注册" />
            </div>
        </form>
    </div>
</div>

<script src="../javascript/jquery/jquery-3.2.1.min.js"></script>
<script src="../javascript/bootstrap/bootstrap.min.js" ></script>
<script src="../javascript/password.js"></script>
<script src="../javascript/deleteSpace.js"></script>
<script>
    var emailReady = false;
    var nameReady = false;

    $("#userEmail").blur(function(){
        var email = $("#userEmail").val().toString();
        email = deleteSpace(email);
        email = email.toLowerCase();
        $("#userEmail").val(email);

        var emailReg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+.([a-z.])+$/;
        if( emailReg.test(email) ){
            $("#userEmail").removeClass("borderRed");
            emailReady = true;
        }
        else {
            $("#userEmail").addClass("borderRed");
            emailReady = false;
        }
    });

    $("#userName").blur(function(){
        var name = $("#userName").val().toString();
        name = deleteSpace(name);
        $("#userName").val(name);

        if( name.length>0 ){
            nameReady = true;
        }
        else {
            nameReady = false;
        }
    });

    $("#getCodeBtn").click(function(){
        var message = "";
        if( !emailReady ){
            if( message.length==0 ){
                message += "请输入 ";
            }
            message += "正确邮箱！";
        }
        if( !nameReady ){
            if( message.length==0 ){
                message += "请输入 ";
            }
            message += "正确昵称！";
        }
        if( message.length==0 ){
            $("#messageShow").val(message)
                .removeClass("colorRed");

            var userEmail = $("#userEmail").val().toString();
            var userName = $("#userName").val().toString();
            var data = { "userEmail":userEmail, "userName":userName };
            $.post("GetVerificationCode", data, function(rs){
                var res = $.parseJSON( rs );
                if( res.result ){
                    alert(res.message);
                }
                else {
                    alert(res.message);
                }
            });
        }
        else{

        }
    });

    $("#signUpSubmit").click(function(){
        if( passwordReady ){
            var userEmail = $("#userEmail").val().toString();
            var userPassword = $("#userPassword").val().toString();
            var verificationCode = $("#verificationCode").val().toString();
            userEmail = deleteSpace(userEmail);
            userEmail = userEmail.toLowerCase();
            userPassword = deleteSpace(userPassword);
            verificationCode = deleteSpace(verificationCode);
            var data = { "userEmail":userEmail, "userPassword":userPassword, "verificationCode":verificationCode };
            $.post("UserRegister", data, function (rs) {
                var res = $.parseJSON( rs );
                if( res.result ){
                    var newHref = "/Login";
                    window.location.replace(newHref);
                }
                else {

                }
            });
        }
        else {

        }
    });
</script>
</body>

</html>

