<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../stylesheet/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheet/bootstrap/bootstrap-theme.min.css">

    <link rel="stylesheet" href="../stylesheet/common.css">
    <link rel="stylesheet" href="../stylesheet/venue/venueRegister.css">
    <link rel="stylesheet" href="../stylesheet/bootstrap/my-bootstrap.css">
</head>

<body class="body-gray">
<div class="common">
    <div class="main">
        <ul class="nav nav-pills nav-justified">
            <li>
                <a href="/Login">登录</a>
            </li>
            <li>
                <a href="/User/UserRegister">注册</a>
            </li>
            <li  class="active">
                <a>场馆注册</a>
            </li>
        </ul>

        <hr>

        <form id="signUpForm" accept-charset="utf-8" role="form"  method="post" onsubmit="return false">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <select class="form-control" id="province" onchange="selectProvince(this)"></select>
                    </div>
                    <div class="col-sm-6">
                        <select class="form-control" id="city"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-home"></span>
                        </span>
                    <input class="form-control" id="address"
                           type="text" placeholder="具体地址" required/>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-earphone"></span>
                        </span>
                    <input class="form-control" id="telephone"
                           type="text" placeholder="电话" required>
                </div>
            </div>


            <div class="form-group">
                <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                    <input class="form-control" id="userPassword"
                           type="password" placeholder="密码" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                    <input class="form-control" id="userPasswordAgain"
                           type="password" placeholder="再次输入密码" required>
                </div>
            </div>

            <br>

            <!-- 注册 -->
            <div class="form-group">
                <input class="btn btn-info btn-lg btn-block" id="signUpSubmit" type="submit" value="注册" />
            </div>
        </form>
        </div>
    </div>
</div>

<script src="../javascript/jquery/jquery-3.2.1.min.js"></script>
<script src="../javascript/bootstrap/bootstrap.min.js" ></script>
<script src="../javascript/venue/venueRegister.js"></script>
<script src="../javascript/password.js"></script>
<script src="../javascript/deleteSpace.js"></script>
<script>
    var addressReady = false;
    $("#address").blur(function(){
        var address = $("#address").val().toString();
        address = deleteSpace(address);
        $("#address").val(address);

        if( address.length>0 ){
            $("#address").removeClass("borderRed");
            addressReady = true;
        }
        else {
            $("#address").addClass("borderRed");
            addressReady = false;
        }
    });

    var telephoneReady = false;
    $("#telephone").blur(function(){
        var telephone = $("#telephone").val().toString();
        telephone = deleteSpace(telephone);
        $("#telephone").val(telephone);

        if( telephone.length==11 || telephone.length==8 ){
            $("#telephone").removeClass("borderRed");
            telephoneReady = true;
        }
        else {
            $("#telephone").addClass("borderRed");
            telephoneReady = false;
        }
    });

    $("#signUpSubmit").click(function () {
        var message = "";
        if( !addressReady ){
            if( message.length==0 ){
                message += "请输入 ";
            }
            message += "地址！";
        }
        if( !telephoneReady ){
            if( message.length==0 ){
                message += "请输入 ";
            }
            message += "正确电话！";
        }
        if( !passwordReady ){
            if( message.length==0 ){
                message += "请输入 ";
            }
            message += "正确密码！";
        }
        if( message.length==0 ){

            var province = $("#province option:selected").text();
            var city = $("#city option:selected").text();
            var address = $("#address").val().toString();
            var telephone = $("#telephone").val().toString();
            var password = $("#userPassword").val().toString();
            address = deleteSpace(address);
            telephone = deleteSpace(telephone);
            password = deleteSpace(password);
            var data = {"province":province, "city":city, "address":address,
                "telephone":telephone, "password":password};
            $.post("VenueRegister", data, function (rs) {
                var res = $.parseJSON(rs);
                if( res.result){
                    alert("你的帐号是：" + res.message + "，审批通过后可登录！");
                    var newHref = "/Login";
                    window.location.replace(newHref);
                }
            });
        }
        else {

        }
    });
</script>
</body>
</html>
